certifi==2019.11.28
chardet==3.0.4
Django==2.1.5
djangorestframework==3.9.4
docopt==0.6.2
gunicorn==20.0.4
idna==2.8
pipreqs==0.4.10
pytz==2018.9
requests==2.22.0
Rest-Framework-Auth-Toolkit==0.10
urllib3==1.26.5
whitenoise==5.0.1
yarg==0.1.9
